h2 {
  font-family: none;
  margin: 15px 0px 10px 0;
  font-weight: bold;
}
.e-ticketTopSection {
  display: flex;
  background: #5858581c;
}

.e-ticketCanneltionDetails {
  margin-left: 34rem;
}

.logoheader {
  width: 40%;
  float: left;
}

a.navbar-brand > img {
  padding: 0 20px;
}

.ticketDetails {
  display: inline-table;
  margin: 20px 0;
}

.ticketDetails > ol > li {
  margin: 15px;
  margin-right: 11rem;
}

.ticketDetails > ol {
  list-style: none;
  padding: 0;
}

.ticketDetails > ol > li > span {
  font-weight: 800;
  margin-right: 10px;
}

.e-ticketSection > .row > .main {
}

.qrcode {
  padding: 0 6pc;
}

.main.borderDashed {
  border-right: 3px dashed;
}

p {
  margin: 5px 0;
}
.row {
  display: flex;
}

.e-ticketSection {
  background: #03a9f433;
  margin: 2pc 0;
}
.guidlines {
  border: 3px solid #cdeefd;
}

.guidlinesheading > h2 {
  background: #3f63b52b;
  margin: 0 !important;
  padding: 0.5rem 2rem;
  font-family: system-ui;
  font-size: large;
}

.guidlines > ul > li {
  margin: 15px 2.4rem;
  font-family: math;
}

.e-ticketMiddleSection  .tourimage  img {
  display: block;
  height: 45vh;
  width: 100%;
}

.tourimage {
  width: 65%;
}

.e-ticketMiddleSection{
  margin: 2pc 0;
}

.tourlocation {
  width: 32%;
  border: 2px solid #87ceeb45;
  margin-right: 2pc;
}

.tourlocation > h2 {
  background: #2196f314;
  margin: 0;
  padding: 5px 15px;
  font-family: sans-serif;
  font-size: large;
}